body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background/raining\ coins.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.container {
    text-align: center;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #85bb65; 
    font-size: 20px;
    font-family: 'Brush Script MT', cursive;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    background-color: #4caf50; 
    color: #fff; 
    height: 205px; 
    min-width: 200px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    font-size: 16px; 
    overflow: hidden;
    color: #73efe7; 
    font-family: 'Papyrus', sans-serif;
}

.full-width-box {
    background-color: #4caf50; 
    color: #fff; 
    height: 150px; 
    min-width: 600px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    font-size: 18px; 
    overflow: hidden; 
    color: #73efe7;
    font-family: 'Papyrus', sans-serif;
}

button {
    background-color: #f18ce9; 
    color: #fff; 
    border: none; 
    padding: 10px 15px; 
    margin: 5px; 
    cursor: pointer; 
    border-radius: 5px; 
    font-family:'Courier New', Courier, monospace
}

div {
    font-size: 20px;
}

p {
    font-size: 28px;
}